.cardRepoContainer{
    display:flex;
    justify-content:center;
    align-items:center;
    flex-wrap:wrap;
    width:20%;
    height:min-content;
    margin:0 auto;
    gap:3rem;
    padding:2rem;
    background-color:#004aad;
    color: #fff;
}

