  .cardContainer {
    text-align: center;
    
  }
    
    
  
  .cardTitle {
    padding: 1rem;
    font-size: 2rem;
    color: #004aad;
  }

  .image{
    width: 25%;
    height: 50%;
    
  }

  .cardText {
    font-size: 1.2rem;
    color: #474a51;
  }

  .projectButton{
    background-color: #004aad;
    border: none;
    color: white;
    padding: 12px 12px;
    text-align: center;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    margin-top: 1rem;
    width: 20%;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  @media (max-width: 765px) {
    .homeContainer {
      flex-direction: column;
    }
  }
  