.homeContainer {
    padding: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
  }
  
  .cardContainer {
    width: 100%;
  }
  
  .cardTitle {
    padding: 1rem;
    font-size: 2rem;
    color: #004aad;
    align-items: center;
  }

  .title{
    color: #004aad;
    display: center;
  }

  .image{
    width: 20%;
  }

  .projectButton{
    background-color: #004aad;
    border: none;
    color: white;
    padding: 12px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 1rem;
    width: 20%;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .cardText {
    font-size: 1.2rem;
    align-content: center;
    color: #474a51;
  }
  
  @media (max-width: 765px) {
    .homeContainer {
      flex-direction: column;
    }
  }
  