.sobreContainer {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    text-align: center;
  }
  
  .cardContainer {
    width: 100%;
  }
  

  .imageContainer{
    width: 100%;
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
  }


  .image{
    width: 2000 2000;
  }

  
  .cardTitle {
    padding: 0;
    font-size: 3rem;
    color: #474a51;
  }
  
  .cardText {
    font-size: 1.5rem;
    margin-right: 4rem;
    margin-top: 2rem;
    font-weight: 300;
    color: #474a51;
    align-content: center;
    text-align: justify;
    width: 2000 2000;

  }
  
  @media (max-width: 765px) {
    .sobreContainer {
      flex-direction: column;
    }
  }
  